Source: com.github.brendanperry.stocks
Section: x11
Priority: low
Maintainer: Brendan Perry <bperry@hey.com>
Build-Depends: cmake (>= 2.8),
               debhelper (>= 9),
               libgtk-3-dev,
               valac (>= 0.40.0)
Standards-Version: 3.9.3

Package: com.github.brendanperry.stocks
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: This is a stocks app written in Vala using CMake build system.
